.custom-gradient {
  background: linear-gradient(
    40deg,
    #0e9dc7 5%,

    #90d1f4 20%,

    #c9e7f6 100%
  );
}
/* .custom-gradient {
  background: linear-gradient(20deg, #89f7fe 0%, #66a6ff 100%);
} */
